$colors: (
    theme: (
        primary: #6d4df2,
        primary-light: #a38cff,
        secondary: #7f7d88,
        primary-soft: #f5eeff,
        primary-dark: #6342ec,
        heading: #000000,
        body: #2c2c2c,
    ),
    neutral: (
        100: #f3f4f6,
        200: #e5e7eb,
        300: #d1d5db,
        400: #9ca3af,
        500: #6b7280,
        600: #4b5563,
        700: #374151,
        800: #1f2937,
        900: #111827,
    ),
    system: (
        success: #64e1b0,
        info: #5577a7,
        warning: #f39e0d,
        danger: #ef4444,
        white: #ffffff,
        dark: #000000,
        muted: #9ca3af,
    ),
    bg: (
        1: #f7f4ff,
        2: #e1d6ff,
    ),
    linear: (
        1: linear-gradient(90deg, #d7cdff 0%, #f8e2ff 100%),
        2: linear-gradient(90deg, #6d4df2 0%, #8c71ff 100%),
    ),
    shadow: (
        1: 0 13px 35px -12px rgba(35, 35, 35, 0.1),
    ),
);
