<!-- Footer -->
<footer>
    <div class="section-footer position-relative">
        <div class="container-fluid bgft-1">
            <div class=" container position-relative z-2">
                <div class="row py-90">
                    <div class="col-lg-4 pe-10">
                        <a href="index.html"><img src="assets/imgs/logo/logo-white.svg" alt /></a>
                        <p class="text-white fw-medium mt-3 mb-6 opacity-50">You may also realize cost savings from your energy efficient choices in your custom home. Federal tax credits for some green materials can allow you to deduct as much.</p>
                        <div class="d-flex social-icons">
                            <a href="https://www.facebook.com/" class=" text-white border border-end-0 border-light border-opacity-10 icon-shape icon-md">
                                <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAy0lEQVRIS2NkoDFgpLH5DIPOAgGgj+uB2AGIFYD4AxBvAOJCXCFBig9Aht8HYhCNDEAWBFLDgn6gIQVYDKKaBeuBhgdALTgAdTUoiPACUoIIFDygcAeBCfjCHdlGci0ARSrIEoKAkAUOSK4GpR6YDxYA2Qehpl8A0iCMFRCyYD5QVwIBZ+INLmpYAEqioJRElg9AyTIeqtMAyYQHQDYsBYHi4wC5FiDrQ05FVIvkUQtIKq5H44BgsULzICLoAmwKCBUVZBmKrInmFgAAW38qGVU0eQAAAAAASUVORK5CYII=" />
                            </a>
                            <a href="https://twitter.com/" class=" text-white border border-end-0 border-light border-opacity-10 icon-shape icon-md">
                                <i class="bi bi-twitter-x"></i>
                            </a>
                            <a href="https://www.linkedin.com/" class=" text-white border border-light border-opacity-10 icon-shape icon-md">
                                <i class="bi bi-linkedin"></i>
                            </a>
                            <a href="https://www.behance.net/" class=" text-white border border-start-0 border-light border-opacity-10 icon-shape icon-md">
                                <i class="bi bi-behance"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="row">
                            <div class="col-lg-3 col-md-4 col-6">
                                <h3 class="text-white opacity-50 fs-6 fw-black pb-3 pt-5">Guides</h3>
                                <div class="d-flex flex-column align-items-start">
                                    <a class="hover-effect text-white mb-2 fw-medium fs-6" href="#">Mission & Vision</a>
                                    <a class="hover-effect text-white mb-2 fw-medium fs-6" href="#">Our Team</a>
                                    <a class="hover-effect text-white mb-2 fw-medium fs-6" href="#">Careers</a>
                                    <a class="hover-effect text-white mb-2 fw-medium fs-6" href="#">Press & Media</a>
                                    <a class="hover-effect text-white mb-2 fw-medium fs-6" href="#">Advertising</a>
                                    <a class="hover-effect text-white mb-2 fw-medium fs-6" href="#">Testimonials</a>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-6">
                                <h3 class="text-white opacity-50 fs-6 fw-black pb-3 pt-5">Guides</h3>
                                <div class="d-flex flex-column align-items-start">
                                    <a class="hover-effect text-white mb-2 fw-medium fs-6" href="#">Our Journeys</a>
                                    <a class="hover-effect text-white mb-2 fw-medium fs-6" href="#">Solutions</a>
                                    <a class="hover-effect text-white mb-2 fw-medium fs-6" href="#">Customers</a>
                                    <a class="hover-effect text-white mb-2 fw-medium fs-6" href="#">News & Events</a>
                                    <a class="hover-effect text-white mb-2 fw-medium fs-6" href="#">Project management</a>
                                    <a class="hover-effect text-white mb-2 fw-medium fs-6" href="#">Help Center</a>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-6">
                                <h3 class="text-white opacity-50 fs-6 fw-black pb-3 pt-5">Services</h3>
                                <div class="d-flex flex-column align-items-start">
                                    <a class="hover-effect text-white mb-2 fw-medium fs-6" href="#">Project software</a>
                                    <a class="hover-effect text-white mb-2 fw-medium fs-6" href="#">Resource software</a>
                                    <a class="hover-effect text-white mb-2 fw-medium fs-6" href="#">Workflow</a>
                                    <a class="hover-effect text-white mb-2 fw-medium fs-6" href="#">Gantt chart makers</a>
                                    <a class="hover-effect text-white mb-2 fw-medium fs-6" href="#">Project dashboards</a>
                                    <a class="hover-effect text-white mb-2 fw-medium fs-6" href="#">Task software</a>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-6">
                                <h3 class="text-white opacity-50 fs-6 fw-black pb-3 pt-5">Resource</h3>
                                <div class="d-flex flex-column align-items-start">
                                    <a class="hover-effect text-white mb-2 fw-medium fs-6" href="#">Knowledge Base</a>
                                    <a class="hover-effect text-white mb-2 fw-medium fs-6" href="#">Documents</a>
                                    <a class="hover-effect text-white mb-2 fw-medium fs-6" href="#">System Status</a>
                                    <a class="hover-effect text-white mb-2 fw-medium fs-6" href="#">Security</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row text-center py-4 border-top border-white border-opacity-10">
                    <span class="text-white">Copyright © 2024 Infinia. All Rights Reserved</span>
                </div>
            </div>
        </div>
        <div class="position-absolute top-50 start-50 translate-middle z-0">
            <img src="assets\imgs\footer-1\line-bg.png" alt="">
        </div>
        <div class="position-absolute top-0 start-0 z-0">
            <img src="assets\imgs\footer-1\ellipse-left.png" alt="">
        </div>
        <div class="position-absolute top-0 start-100 z-0">
            <img src="assets\imgs\footer-1\ellipse-right.png" alt="">
        </div>
    </div>
</footer>