<ul class="navbar-nav me-auto gap-4 align-items-lg-center">
    <li class="nav-item dropdown menu-item-has-children">
        <a class="nav-link fw-medium" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Home</a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="index.html">Home page 1</a></li>
            <li><a class="dropdown-item" href="index-2.html">Home page 2</a></li>
            <li><a class="dropdown-item" href="index-3.html">Home page 3</a></li>
        </ul>
    </li>
    <li class="nav-item">
        <a class="nav-link fw-medium" href="page-about.html">About</a>
    </li>
    <li class="nav-item dropdown menu-item-has-children">
        <a class="nav-link fw-medium" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Company</a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="page-about.html">About Us</a></li>
            <li><a class="dropdown-item" href="page-team.html">Our Team</a></li>
            <li><a class="dropdown-item" href="page-services.html">Our Services</a></li>
            <li><a class="dropdown-item" href="page-service-details.html">Service Details</a></li>
        </ul>
    </li>
    <li class="nav-item">
        <a class="nav-link fw-medium" href="page-pricing.html">Pricing</a>
    </li>
    <li class="nav-item dropdown menu-item-has-children">
        <a class="nav-link fw-medium" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">News</a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="page-blog.html">Latest News</a></li>
            <li><a class="dropdown-item" href="page-blog-details.html">Blog Details</a></li>
        </ul>
    </li>
    <li class="nav-item">
        <a class="nav-link fw-medium" href="page-contact.html">Contact</a>
    </li>
</ul>