<!-- offCanvas-menu -->
<div class="offCanvas__info">
    <div class="offCanvas__close-icon menu-close">
        <button><i class="far fa-window-close"></i></button>
    </div>
    <div class="offCanvas__logo mb-30">
        <a href="index.html"><img src="assets/imgs/template/logo.svg" alt="Logo"></a>
    </div>
    <div class="offCanvas__side-info mb-30">
        <div class="contact-list mb-30">
            <h4>Office Address</h4>
            <p>123/A, Miranda City Likaoli <br> Prikano, Dope</p>
        </div>
        <div class="contact-list mb-30">
            <h4>Phone Number</h4>
            <p>+0989 7876 9865 9</p>
            <p>+(090) 8765 86543 85</p>
        </div>
        <div class="contact-list mb-30">
            <h4>Email Address</h4>
            <p>info@example.com</p>
            <p>example.mail@hum.com</p>
        </div>
    </div>
    <div class="offCanvas__social-icon mt-30">
        <a href="javascript:void(0)"><i class="fab fa-facebook-f"></i></a>
        <a href="javascript:void(0)"><i class="fab fa-twitter"></i></a>
        <a href="javascript:void(0)"><i class="fab fa-google-plus-g"></i></a>
        <a href="javascript:void(0)"><i class="fab fa-instagram"></i></a>
    </div>
</div>
<div class="offCanvas__overly"></div>